#master{
    border-radius: 5px;
    border: 2px white ridge;
    width: 100%;
}

.subheading{
    color: white;
    text-align: center;
}
/* .selection {
    width: 200px;
    height: 200px;
    background-color: white;
  } */
  .fix-box {
    width: 500px;
    height: 500px;
    margin: 20px;
    border: 1px white dotted;
    border-radius: 5px;
}